html, body {
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
	cursor: none;
  }

  #toolbar {
	cursor: none;
}

#toolbar{
	position: fixed; 
	top: 10px; 
	left: 10px; 
	background: rgba(0, 0, 0, 0); 
	color: white; padding: 10px; 
	border-radius: 8px; 
	z-index: 100; 
	font-family: Arial, sans-serif;
}

#toolbar button {
	background: rgba(255, 255, 255, 0.2); 
	border: none; 
	color: white; 
	padding: 10px 20px; 
	margin: 5px; 
	border-radius: 4px; 
	cursor: none;
	transition: background 0.3s;
	z-index: 100;

}


  
  #chalkboard {
	position: fixed;
	inset: 0;
	background: #000;
	cursor: none;
  }


.chalk{
	width:10px;
	height:10px;
	background-color: rgb(244, 0, 0);
	border-radius: 60px;
	position:absolute;
	padding:0;
	margin:0;
	bottom:0;
	left:0;
	cursor:none;
	z-index:2;
	}
.eraser{			/*should not erase the background, only the chalk drawings */

	width:40px;
	height:40px;
	
	background: #000;
	border-radius: 60px;
	box-shadow: inset 0 0 10px #545445;
}
.panel{
	display: block;
	font-size: 18px;
	color: black;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	bottom:0;
	left:0;
	z-index:5;
}
.panel a{
	display: inline-block;
	padding: 0.5em 1em;
	background:#000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
	margin-right: 0.5em;
}
.panel a:hover{
	opacity: 1;
}